/* TEST */
body{
    background-color: aquamarine;
}

/* RESET */
html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* test js */
.ms_password{
    color: blue;
    text-align: center;
    font-size: 3em;
    margin-bottom: 10rem;
}